# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VC Files
*.pro
*.vcxproj
*.pdb
*.ilk
*.suo
*.user
*.filters
.suo
.vs
*.sln
*.log
*.tlog
Win32/
GeneratedFiles/
debug/
